<!DOCTYPE html>
<html>
  <head>
      <% include ..\views\partials\head %>
  </head>
  <body>
    
      <header>
          <% include ..\views\partials\header %>
      </header>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/mens">Mens</a></li>
        <li class="breadcrumb-item active">Clothing</li>
      </ol>

    </br>
    <h1><%= title %></h1>


     <!-- Show all the subcategories which have the parent_category_id mens -->
      <div>
        <ol>
            <% _.each(items, function(topC) { %>
            <% _.each(topC.categories, function(subC) { %>
             <% _.each(subC.categories,function(subsubC){%>   
                <%  if (subsubC.parent_category_id ==="mens-clothing") { %>
                <li>
                <h2><%= subsubC.name %></h1>
                <p><%= subsubC.page_description %></p>
                <% if (subsubC.image) { %>
                <div>
                    <img src="/images/<%= subsubC.image %>">
                </div>
                <% } %></br>
                <button type="button" class="btn btn-info btn-lg"> <a href="/<%= topC.id %>/<%= subC.id %>/<%= subsubC.id %>"> View Products</a></button>
                
            </li>
            <% } %>
            <% }); %>      
            <% }); %>   
            <% }); %>            
        </ol>
    </div> 









      <footer>
        <% include ..\views\partials\footer %>
      </footer>
  
  </body>
    
  </html>
